<div class="container">
  <div class="head">
    <h1 class="heading">Voting App v1.0</h1>
    <nav class="nav">
      <ul>
        <li><a routerLink="candidate"> Candidate</a></li>
        <li><a routerLink="position"> Position</a></li>
        <li><a routerLink="country"> Country</a></li>
        <li><a routerLink="country/result"> Results</a></li>
        <li><a routerLink="country/cityA"> City-A</a></li>
        <li><a routerLink="country/cityA/result_a"> A-Result</a></li>
        <li><a routerLink="country/cityB"> City-B</a></li>
        <li><a routerLink="country/cityB/result_b"> B-Result</a></li>
        <li><a routerLink="country/cityC"> City-C</a></li>
        <li><a routerLink="country/cityC/result_c"> C-Result</a></li>
      </ul>
    </nav>
  </div>
  <div class="components" style="margin: 0% 0% 3%">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <h4 class="footing">@CodeGenio Task</h4>
  </div>
</div>
